[Desktop Entry]
Name=CMP
Comment=Custom Music Player - A modern music player for your local library
Exec=/opt/cmp/bin/cmp
Icon=/opt/cmp/lib/cmp.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=music;player;audio;mp3;flac;ogg;
StartupWMClass=com.luciferc137.cmp.MainApp

